@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.lightGray {
  color: #868686;
}

.lightGray2 {
  color: #a6a6a6;
}

.darkColor {
  color: #064e6e;
}

.heading {
  letter-spacing: 1.02px;
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.blueColor {
  color: #43ade8;
}

.hero_section {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_section .main_head {
  top: 24%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.hero_section .hero_text_content {
  width: 52%;
  bottom: 5%;
  left: 8%;
}

.hero_section .hero_text_content h4 {
  letter-spacing: 0.87px;
  line-height: normal;
  font-size: 1.875rem;
  font-weight: 500;
  -webkit-animation: move 6s infinite forwards;
          animation: move 6s infinite forwards;
}

.hero_section .hero_text_content .bottomText {
  width: 70%;
  -webkit-animation: move 6s infinite forwards;
          animation: move 6s infinite forwards;
}

.hero_section .hero_text_content .bottomText p {
  letter-spacing: 0.53px;
  line-height: 21px;
  color: #e7e7e7;
  font-size: 1.125rem;
}

.mySwiper img {
  height: 100vh;
}

.mySwiper .swiper-pagination-bullet {
  width: 60px;
  height: 5px;
  border-radius: 15%;
}

.mySwiper .swiper-pagination-bullet {
  background: #fff;
}

.swiper-container {
  z-index: 0 !important;
}

.header_container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.header_container ul li a {
  letter-spacing: 1.08px;
  font-weight: 500;
}

.header_container .right_side {
  margin-left: 6rem;
}

.header_container .logo img {
  height: 140px;
  width: auto;
}

.phone_icon {
  height: 28px;
  width: auto;
}

.header_container ul li a.active_nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.service_container .service_inner {
  background-color: #eaeaea;
}

.service_container .caste_container {
  left: 81.1%;
  top: 0%;
  height: 100%;
}

.service_container .caste_container img {
  height: 101%;
}

.feature_container .gallery_inner1 .gallery-item:first-child {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_container .gallery_inner1 .gallery-item:nth-child(2) {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:first-child {
  grid-column: span 10;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(2) {
  grid-column: span 10;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(3) {
  grid-column: span 9;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(4) {
  grid-column: span 11;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(5) {
  height: 81% !important;
  grid-column: span 16;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(6) {
  height: 81% !important;
  grid-column: span 4;
  grid-row: span 1;
}

.feature_container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_container .gallery img {
  display: block;
  height: 100%;
  width: 100%;
}

.feature_container .gallery .gallery_inner1 {
  grid-column: span 5;
  grid-row: span 1;
}

.feature_container .gallery .gallery_inner1 .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_container .gallery .gallery_inner2 {
  grid-column: span 7;
  grid-row: span 1;
}

.feature_container .gallery .gallery_inner2 .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

/* Within Container */
.zoom-within-container {
  overflow: hidden;
}

.zoom-within-container img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.zoom-within-container:hover img {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.client_container {
  margin-top: -4.5rem;
}

.client_container .client_inner .client_card {
  margin-right: 30px;
  margin-left: 30px;
}

.client_container .client_inner .client_card:nth-child(1) img {
  width: 100px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(2) img {
  width: 185px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(3) img {
  width: 185px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(4) img {
  width: 160px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(5) img {
  width: 115px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(6) img {
  width: 102px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(7) img {
  width: 160px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(8) img {
  width: 110px;
  height: auto;
}

.products_container h6 {
  color: #6c6c6c;
}

.products_container p {
  color: #868686;
  line-height: 18px;
  letter-spacing: 0.87px;
}

.products_container button {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  border: 1px solid #a0b8b8;
  background-color: #ecf3f3;
  font-weight: 500;
}

.footer_container {
  background: rgba(249, 249, 249, 0.6);
}

.footer_container ul li {
  margin-bottom: 0.6rem;
}

.footer_container ul li a {
  font-family: "Raleway", sans-serif;
  color: #606060;
}

.footer_container .upper_portion {
  height: 170px;
}

.footer_container .upper_portion h5 {
  color: #6c6c6c;
  letter-spacing: 0.64px;
  font-size: 1.275rem;
}

.footer_container .upper_portion .inp_container {
  position: relative;
}

.footer_container .upper_portion .inp_container input,
.footer_container .upper_portion .inp_container button {
  height: 46px;
}

.footer_container .upper_portion .inp_container input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  width: 356px;
  padding-left: 1rem;
  padding-right: 8.5rem;
}

.footer_container .upper_portion .inp_container input:focus {
  outline: none;
}

.footer_container .upper_portion .inp_container button {
  position: absolute;
  right: -0.5%;
  border-radius: 5px;
  height: 100%;
  background-image: linear-gradient(234deg, #00c2ee 0%, #1ea0d0 57%, #007bbc 100%);
}

.footer_container .upper_portion .footer_icons .icon:nth-child(1) {
  color: #01000252;
  cursor: pointer;
}

.footer_container .upper_portion .footer_icons .sec_icon {
  border-radius: 50%;
  padding: 0.32rem 0.42rem 0.42rem 0.45rem;
  background-color: #01000252;
}

.footer_container .upper_portion .footer_icons .sec_icon .icon {
  color: #fff;
  cursor: pointer;
}

.footer_container .bottom_footer {
  background-color: rgba(227, 236, 243, 0.5);
}

.footer_container .bottom_footer ul li {
  font-size: 1rem;
  color: #808080;
}

.header_containerM {
  z-index: 2;
  height: 80px;
}

.header_containerM .logo {
  position: absolute;
  left: 1%;
  top: 0%;
  width: 28%;
}

.header_containerM .logo img {
  width: 100%;
  height: auto;
}

.header_containerM .page_head {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
}

.header_containerM .hamberger {
  position: absolute;
  right: 3%;
  bottom: -25%;
  border-radius: 10px;
}

.mySwiperM img {
  width: 100%;
  height: auto;
}

.mySwiperM .swiper-button-next,
.mySwiperM .swiper-button-prev {
  color: #fff;
}

.mySwiperM .swiper-button-next:after,
.mySwiperM .swiper-button-prev:after {
  font-size: 20px;
}

.mySwiperM .swiper-pagination-bullet {
  background-color: #fff;
}

.mySwiperM .main_head {
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feature_containerM {
  background: url(../assets/mFeatureBg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature_containerM .galleryM .gallery_inner1M {
  grid-column: span 6;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner1M .leftM {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_containerM .galleryM .gallery_inner2M {
  grid-column: span 6;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner2M .rightM {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_containerM .galleryM .gallery_inner1M .gallery-itemM {
  margin: 0.1rem;
}

.feature_containerM .galleryM .gallery_inner1M .gallery-itemM:first-child {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner1M .gallery-itemM:nth-child(2) {
  height: 98% !important;
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner1M .gallery-itemM:nth-child(3) {
  height: 136%;
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner2M .gallery-itemM {
  margin: 0.1rem;
}

.feature_containerM .galleryM .gallery_inner2M .gallery-itemM:first-child {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner2M .gallery-itemM:nth-child(2) {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM .gallery_inner2M .gallery-itemM:nth-child(3) {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_containerM .galleryM {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_containerM .galleryM img {
  display: block;
  height: 100%;
  width: 100%;
}

.feature_containerM .expbtn {
  border-radius: 5px;
  background-image: linear-gradient(234deg, #00c2ee 0%, #1ea0d0 57%, #007bbc 100%);
}

.feature_containerM .inp_cont input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0.5rem;
  color: #fff;
}

.feature_containerM .inp_cont input::-webkit-input-placeholder {
  color: #fff;
}

.feature_containerM .inp_cont input:-ms-input-placeholder {
  color: #fff;
}

.feature_containerM .inp_cont input::-ms-input-placeholder {
  color: #fff;
}

.feature_containerM .inp_cont input::placeholder {
  color: #fff;
}

.feature_containerM .inp_cont input:focus {
  outline: none;
}

.feature_containerM .mFooter {
  background-color: #e3ecf3;
}

@media screen and (max-width: 998px) {
  .hero_section .hero_text_content {
    width: 70%;
  }
  .hero_section .hero_text_content .bottomText {
    width: 90%;
  }
  .header_container .right_side {
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */