@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

// GLOBAL CLASSES START
html {
	font-size: 100%;
	width: 100%;
	overflow-x: hidden;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 88%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 84%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 80%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 76%;
	}
}

.page_container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.lightGray {
	color: #868686;
}

.lightGray2 {
	color: #a6a6a6;
}

.heading {
	letter-spacing: 1.02px;
	font-weight: 500;
}
// GLOBAL CLASSES END

// HERO SECTION START
.hero_section {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.35),
			rgba(7, 7, 7, 0.35)
		),
		url("../assets/hero_bg.png");
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.main_head {
		top: 24%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 2.5rem;
	}
	.hero_text_content {
		width: 52%;
		bottom: 5%;
		left: 8%;

		h4 {
			letter-spacing: 0.87px;
			line-height: normal;
			font-size: 1.875rem;
			font-weight: 500;
		}

		.bottomText {
			width: 70%;

			p {
				letter-spacing: 0.53px;
				line-height: 21px;
				color: #e7e7e7;
				font-size: 1.125rem;
			}
		}
	}
}
// HERO SECTION END

// HEADER START
.header_container {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;

	ul {
		li {
			a {
				letter-spacing: 1.08px;
			}
		}
	}

	.right_side {
		margin-left: 6rem;
	}

	.logo {
		img {
			height: 140px;
			width: auto;
		}
	}
}

.free_schedule {
	background-color: rgba(6, 43, 70, 0.5);
}

.phone_icon {
	height: 28px;
	width: auto;
}

.active_nav {
	font-weight: bold;
}
// HEADER END

// SERVICE START
.service_container {
	.service_inner {
		background-color: #eaeaea;
	}

	.caste_container {
		right: -18.8%;
		top: 0%;
		height: 100%;

		img {
			height: 101%;
		}
	}
}
// SERVICE END

// FEATURED GALLERY START
.feature_container {
	.gallery_inner1 {
		.gallery-item:first-child {
			grid-column: span 12;
			grid-row: span 1;
		}
		.gallery-item:nth-child(2) {
			grid-column: span 12;
			grid-row: span 1;
		}
	}

	.gallery_inner2 {
		.gallery-item:first-child {
			grid-column: span 52;
			grid-row: span 1;
		}
		.gallery-item:nth-child(2) {
			grid-column: span 49;
			grid-row: span 1;
		}
		.gallery-item:nth-child(3) {
			grid-column: span 48;
			grid-row: span 1;
		}
		.gallery-item:nth-child(4) {
			grid-column: span 48;
			grid-row: span 1;
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, auto-flow);

		img {
			object-fit: cover;
			display: block;
		}

		.gallery_inner1 {
			grid-column: span 5;
			grid-row: span 1;

			.left {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: repeat(3, auto-flow);
			}
		}
		.gallery_inner2 {
			grid-column: span 7;
			grid-row: span 1;

			.right {
				display: grid;
				grid-template-columns: repeat(101, 1fr);
				grid-template-rows: repeat(3, auto-flow);
			}
		}
	}
}
// FEATURED GALLERY END
