@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.lightGray {
  color: #868686;
}

.lightGray2 {
  color: #a6a6a6;
}

.heading {
  letter-spacing: 1.02px;
  font-weight: 500;
}

.hero_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(7, 7, 7, 0.35))), url("../assets/hero_bg.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(7, 7, 7, 0.35)), url("../assets/hero_bg.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_section .main_head {
  top: 24%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.5rem;
}

.hero_section .hero_text_content {
  width: 52%;
  bottom: 5%;
  left: 8%;
}

.hero_section .hero_text_content h4 {
  letter-spacing: 0.87px;
  line-height: normal;
  font-size: 1.875rem;
  font-weight: 500;
}

.hero_section .hero_text_content .bottomText {
  width: 70%;
}

.hero_section .hero_text_content .bottomText p {
  letter-spacing: 0.53px;
  line-height: 21px;
  color: #e7e7e7;
  font-size: 1.125rem;
}

.header_container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.header_container ul li a {
  letter-spacing: 1.08px;
  font-weight: 500;
}

.header_container .right_side {
  margin-left: 6rem;
}

.header_container .logo img {
  height: 140px;
  width: auto;
}

.phone_icon {
  height: 28px;
  width: auto;
}

.header_container ul li a.active_nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.service_container .service_inner {
  background-color: #eaeaea;
}

.service_container .caste_container {
  right: -18.8%;
  top: 0%;
  height: 100%;
}

.service_container .caste_container img {
  height: 101%;
}

.feature_container .gallery_inner1 .gallery-item:first-child {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_container .gallery_inner1 .gallery-item:nth-child(2) {
  grid-column: span 12;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:first-child {
  grid-column: span 10;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(2) {
  grid-column: span 10;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(3) {
  grid-column: span 9;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(4) {
  grid-column: span 11;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(5) {
  grid-column: span 16;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(5) img {
  height: 81% !important;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(6) {
  grid-column: span 4;
  grid-row: span 1;
}

.feature_container .gallery_inner2 .gallery-item:nth-child(6) img {
  height: 81% !important;
}

.feature_container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_container .gallery img {
  display: block;
  height: 100%;
  width: 100%;
}

.feature_container .gallery .gallery_inner1 {
  grid-column: span 5;
  grid-row: span 1;
}

.feature_container .gallery .gallery_inner1 .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.feature_container .gallery .gallery_inner2 {
  grid-column: span 7;
  grid-row: span 1;
}

.feature_container .gallery .gallery_inner2 .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (auto-flow)[3];
      grid-template-rows: repeat(3, auto-flow);
}

.client_container {
  margin-top: -4.5rem;
}

.client_container .client_inner .client_card {
  margin-right: 30px;
  margin-left: 30px;
}

.client_container .client_inner .client_card:nth-child(1) img {
  width: 100px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(2) img {
  width: 185px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(3) img {
  width: 185px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(4) img {
  width: 160px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(5) img {
  width: 115px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(6) img {
  width: 102px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(7) img {
  width: 160px;
  height: auto;
}

.client_container .client_inner .client_card:nth-child(8) img {
  width: 110px;
  height: auto;
}

.products_container h6 {
  color: #6c6c6c;
}

.products_container p {
  color: #868686;
  line-height: 18px;
  letter-spacing: 0.87px;
}

.products_container button {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  border: 1px solid #a0b8b8;
  background-color: #ecf3f3;
  font-weight: 500;
}

.footer_container {
  background: rgba(249, 249, 249, 0.6);
}

.footer_container ul li {
  margin-bottom: 0.6rem;
}

.footer_container ul li a {
  font-family: "Raleway", sans-serif;
  color: #606060;
}

.footer_container .upper_portion {
  height: 170px;
}

.footer_container .upper_portion h5 {
  color: #6c6c6c;
  letter-spacing: 0.64px;
  font-size: 1.275rem;
}

.footer_container .upper_portion .inp_container {
  position: relative;
}

.footer_container .upper_portion .inp_container input,
.footer_container .upper_portion .inp_container button {
  height: 46px;
}

.footer_container .upper_portion .inp_container input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  width: 356px;
  padding-left: 1rem;
  padding-right: 8.5rem;
}

.footer_container .upper_portion .inp_container input:focus {
  outline: none;
}

.footer_container .upper_portion .inp_container button {
  position: absolute;
  right: -0.5%;
  border-radius: 5px;
  height: 100%;
  background-image: linear-gradient(234deg, #00c2ee 0%, #1ea0d0 57%, #007bbc 100%);
}

.footer_container .upper_portion .footer_icons .icon:nth-child(1) {
  color: #01000252;
  cursor: pointer;
}

.footer_container .upper_portion .footer_icons .sec_icon {
  border-radius: 50%;
  padding: 0.32rem 0.42rem 0.42rem 0.45rem;
  background-color: #01000252;
}

.footer_container .upper_portion .footer_icons .sec_icon .icon {
  color: #fff;
  cursor: pointer;
}

.footer_container .bottom_footer {
  background-color: rgba(227, 236, 243, 0.5);
}

.footer_container .bottom_footer ul li {
  font-size: 1rem;
  color: #808080;
}
/*# sourceMappingURL=style.css.map */